.projects-container {
    font-family: 'Comfortaa', cursive;
    color:#343a40;
    /* background-color: #b2dee4; */
    height: 980px;
    
}
.projects-content {
    /* background-image: url('../../assets/sammy-line-workflow.png');
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: right; */
    
}