.project-card-container{
    flex-direction: column;   
    }

    .projectLink a:hover {
    background-color: #ffa102;
    color: beige;
    transition: all 0.2s ease-in-out;
    width: 500px;
    text-align: center;
    border-radius: 10px;
    padding-left: 10px;   
}