
.card {
   
    background-color: #FDE7E1;
}

.card-body {
    
    width: 400px;
    
    align-self: center;
}
.card-img-top {
    
    width: 150px;
    height: 150px;
    align-self: center;
}

.btn {
    display: flex;
    transition: color 0.3s ease-in;
}
.btn:hover {
    background-color: #40869b;
    transition: color 0.3s ease-in;
    

}