.about-me-content {
    font-family: 'Comfortaa', cursive;
    
}

.about-me-title {
    font-size: 32px ;
    color: antiquewhite;
}
.about-me-paragraph{
    font-size: 14px;
    color: aliceblue;
}
.about-me-container {
    background-color: #ffa102;
    height: 980px;
}