.footer-container{
    /* display: flex; */
    /* background-color: rgb(104, 22, 181); */
    background-color: #006d77;
    text-align: center;
    padding: 2px;
    color: white;
    margin-left: 75px; 
    margin-right: 75px;
    margin-top: 30px;
}